@import url(./styles.css);



             /* --------------------------------------------- Global ------------------------------------------------- */

main {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "post   post    side"
    "post   post    side"
    "post   post    ."
    "post   post    ."
    "post   post    ."
    ;
    margin: 80px 0;
}

              /* ---------------------------------------------- Posts ------------------------------------------------ */


.container {
    grid-area: post;
    display: flex;
    flex-direction: column;
    border: solid 1px #dce3e5;
    margin: 0 40px;
}

.post-header {
    display: flex;
    flex-direction: column;
    margin: 0 50px 0;
    border-bottom: solid 2px #dce3e5;
    align-items: center;
    justify-content: space-evenly;
}

.post-title {
    margin: 15px 0 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
}

.author, time {
    margin: 0;
    font-size: 0.8em;
}

.share-menu {
    margin-top: 15px;
    display: flex;
    flex-direction: row-reverse;
}

.post-header img {
	width: 45px;
	height: 45px;
	margin: 5px;
	padding: 10px;
}

.post-header img:hover {
	border-radius: 100%;
	background-color: rgb(158, 11, 172);
}

.post-content {
    display: flex;
    flex-direction: column;
    margin: 25px 50px 0;
    align-items: left;
    justify-content: space-around;
}

.post-content h2 {
    font: 1.6em/1.6 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.02em;
    margin-top: 10px;
}

.post-content h3 {
    text-decoration: underline;
    font-family: 1em/0.7 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px 0 5px;
}

.post-content img {
    width: 80%;
    min-width: 60%;
    border-radius: 10px;
}

figcaption {
    font-style: italic;
    font-size: 0.8em;
}

.author-info {
    display: flex;
    flex-direction: column;
    margin: 50px;
    justify-content: space-evenly;
    border-top: solid 2px #dce3e5;
    padding-top: 20px;

}

.author-info p {
    font-style: italic;
    font-size: 1.1em;
    margin-bottom: 15px;
}

.author p {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
}

.author-info img {
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 20px;
}

.bio {
    margin: 15px;
    font: 0.75em 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bio p {
    font-size: 1.2em;
}


                /* ------------------------------------------ Side Bar ------------------------------------------- */


.side-bar {
    grid-area: side;
    border: solid 1px #dce3e5;
    max-width: 30vw;
}

.side-bar:before {
    display: block;
    background-image: linear-gradient(-272deg,#84206e,#f283f2);
    content: '';
    height: 5px;
    margin-bottom: 20px;
}

.side-bar h2 {
	font: 1.5em 'Comfortaa', cursive;
	margin-bottom: 40px;
    text-align: center;
}

.side-bar img {
    width: 100px;
    border-radius: 8px;
}

.side-bar-menu {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-left: 20px;
}

.side-bar-menu p {
    width: fit-content;
    margin-left: 20px;
    font: 300 1.05em/1.6 Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(158, 11, 172);
}

.side-bar-menu a:hover {
    color: rgba(217, 8, 224, 0.8);
    cursor: pointer;
}


/* ----------------------------------------------------- Resposive --------------------------------------------------- */


@media(min-width: 320px) and (max-width: 950px){

         /* -------------------- Global -------------------------- */

    main {
        grid-template-areas:
        "post   post    post"
        "post   post    post"
        "post   post    post"
        "side   side    side"
        ;
        gap: 40px
    }

        /* ---------------------- Post -------------------------- */

    .container {
        margin: 0 20px;
    }
    
    .post-title {
        font-size: 1.6em;
    }
    
    .post-header img {
        width: 40px;
        height: 40px;
    }
    
    .post-content h2 {
        font-size: 1.25em;
    }
    
    .post-content h3 {
        font-size: 0.95em;
        margin: 5px 0;
    }
    
    .container p {
        font-size: 0.85em;
    }

    figure {
        margin: 0;
    }

    .post-content img {
        width: 100%;
    }
    
    figcaption {
        padding-left: 7px;
    }
    
    .author-info p {
        font-size: 0.9em;
    }
    
    .author p {
        font-size: 1.15em;
    }
    
    .author-info img {
        width: 50px;
        height: 50px;
    }
    
    .bio {
        margin-top: 10px;
        font-size: 0.72em;
    }
    
    .bio p {
        font-size: 1em;
    }


        /* -------------------- Side Bar ---------------------- */


    .side-bar {
        max-width: 75vw;
        justify-self: center;
    }

    .side-bar-menu {
        padding: 0 25px;
    }

    .side-bar-menu p {
        font-size: 1em;
    }

}