@media(min-width: 324px) and (max-width: 899px){


	/* ------------------------------------------------ Header ------------------------------------------------- */

    #page-header {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		height: 30%;
	}
	
	.blog-name {
		margin: 0;
		font-size: 2.5em;
	}
	
	.menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 0.7em;
	}
	
	.menu li {
		display: inline;
		padding: 0 7% 0;
	}
	
	.menu a {
		padding: 10px;
	}


	/*----------------------------------------------- Footer -----------------------------------------------------*/


	.page-footer {
		flex-direction: column-reverse;
		justify-content: center;
		height: 90vh;
	}

	.questions {
		margin: 0px 0px 0px 0px;
		padding: 5px 10px 5px 10px;
	}

	form {
		margin: 40px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.questions label {
		display: block;
		font-style: normal;
	}

	.questions input {
		width: 300px;
	}

	.questions textarea {
		width: 300px;
	}

	.questions button {
		width: 70px;
		font-size: 0.7em;
	}

	.about {
		margin: 20px 0 0;
	}

	#contact {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	#contact img {
		width: 40px;
		height: 40px;
	}

	.about p {
		font-size: 65%;
		line-height: 0.5;
		text-align: center;
		padding: 0;
	}

	.top-link {
		margin-top: 50px;
	}

	.top-link a {
		padding: 10px 0;
	}

	.top-link a:hover {
		padding: 10px;
		border-radius: 100%;
	}

}



@media(min-width: 900px) and (max-width: 1200px){

	/* ------------------------------------------------ Header ------------------------------------------------- */

    #page-header {
		align-items: center;
		justify-content: space-around;
		height: 30%;
	}
	
	.blog-name {
		margin: 0;
		font-size: 3em;
	}
	
	.menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 0.9em;
	}
	
	.menu li {
		display: inline;
		padding: 0 1% 0;
	}
	
	.menu a {
		padding: 20px;
	}

	/*----------------------------------------------- Footer -----------------------------------------------------*/


	.page-footer {
		height: 60vh;
	}
	
	.questions {
		margin: 0px 20px 0px 0px;
	}

	.questions input {
		width: 330px;
	}
	
	.questions textarea {
		width: 330px;
		height: 150px;
	}
	
	.questions button {
		width: 80px;
		font-size: 0.75em;
	}
	
	.about {
		margin: 0 10px 0 30px;
	}
	
}