@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&family=Caveat:wght@400;700&family=Comfortaa:wght@700&family=Montserrat:ital,wght@0,600;1,600&family=Orbitron:wght@600&display=swap');


            /* ----------------------------------------------- Global ----------------------------------------------------*/

html {
	box-sizing: border-box;
	margin: 0;
}

*, *:before, *:after {
	box-sizing: inherit;
}
  
body {
    background-color: #fafbfc;
    color: #343434;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
	grid-template-rows: 45vh 1fr 50vh;
	grid-row-gap: 0em;
}

body, h1, h2, h3, h4, h5, ul, img {
	margin: 0;
	padding: 0;
	border: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}
  
a:active {
    color: crimson;
}
  
ul {
    list-style: none;
    display: flex;
}


            /*----------------------------------------- Dynamic Styles ------------------------------------------------*/

.dynamic-bar {
	order: -1;
	background: #fff;
	top: 0;
	width: 100%;
}

.dynamic-bar .side-bar-menu {
	justify-content: center;
	background-color: #fafbfc;
	border-bottom: 2px solid #84206e;
}

.dynamic-bar li {
	font-size: 1.1em;
	margin: 10px;
}

.dynamic-bar a {
	padding: 0.8em;
	font-weight: bold;
	color: #000;
}

.dynamic-bar a:hover {
	background: #333;
	color: #fff;
	transition: ease 0.3s all;
}

.sec-link-click {
	color: rgba(217, 8, 224, 0.8) !important;
}
  
.section-on-view {
	box-shadow: -5px 4px 15px 5px rgb(191, 7, 207);
}
 
.go-to-top {
	bottom: 60px;
	right: 35px;
	width: 3em;
	height: 3em;
	cursor: pointer;
	font: 1.1em 'Fira Sans', sans-serif;
	color: rgb(11, 72, 153);
	background-color: #fff;
	border-radius: 100%;
	border: 3px solid rgb(11, 72, 153);
}

.go-to-top:hover {
	background-color: seagreen;
	color: #fff;
	border-color: #fff;
}

.go-to-top:hover span {
	display: none;
}

.go-to-top:hover:before {
	content: "GO";
	font-size: 0.9em;
}


            /* -------------------------------------------------- Header -----------------------------------------------*/

.page-header {
	background-image: url(../images/opo0501a.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

.blog-name {
    font: 700 5em 'Caveat', cursive;
    align-self: center;
	color: rgb(191, 7, 207);
    margin-bottom: 1em;
    letter-spacing: 0.1em;
}

.site-nav-menu {
    justify-content: space-between;
    color: rgba(217, 8, 224, 0.8);
	font-size: 1.1em;
    font-weight: 600;
}

.site-nav-menu a {
	padding: 10px;
}

.site-nav-menu a:hover{
	background-color: rgb(11, 72, 153);
	border-radius: 100%;
    color: #fafbfc;
}


            /*----------------------------------------------- Footer -----------------------------------------------------*/


.page-footer {
    background-color: #2e3438;
	color: #F7FFF7;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.questions {
	order: 1;
	margin-right: 25px;
	padding: 5px 10px;
}

form {
	margin: 0px 50px 0px 0px;
	padding: 0 30px 0 30px;
}

.questions label {
	display: block;
	margin-bottom: 20px;
	font-style: italic;
}

.questions input, textarea {
    display: block;
    border-radius: 3px;
    background-color: #1f2022;
	border: none;
    font-size: 12px;
    color: #d1d2d2;
    width: 30em;
	padding: 10px;
	margin-bottom: 10px;
}

.questions textarea {
    resize: vertical;
	height: 10em;
}

.questions button {
	background-color: #33383b;
	color: #fafbfc;
    width: 6.5em;
	height: 3em;
	margin-top: 7px;
	padding-bottom: 2px;
    border-radius: 8px;
	border-color: cornsilk;
	text-transform: uppercase;
    font-size: 0.8em;
}

.questions button:hover {
	background-color: rgba(11, 72, 153);
	cursor: pointer;
}

.about {
	align-self: center;
	margin-left: 20px;
	padding: 10px 20px 0px 20px;
}

.about p {
	font: 0.75em/1 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	padding-left: 10px;
}

#contact img {
	width: 40px;
	height: 40px;
	margin: 10px;
	padding: 5px;
}

#contact img:hover {
	border-radius: 100%;
	background-color: rgba(11, 72, 153);
}


			/*----------------------------------------------- Responsive ----------------------------------------------------*/



@media(min-width: 320px) and (max-width: 599px){

	/* ------------------------- Header ----------------------------- */

	.page-header {
		font-size: 2.3vw;
	}
	
	.site-nav-menu {
		font-size: 1.4em;
	}


	/* ------------------------- Footer ----------------------------- */


	.page-footer {
		flex-direction: column-reverse;
		justify-content: center;
		height: 85vh;
	}

	.questions {
		margin: 0 0 20px;
		padding: 5px 0;
	}

	form {
		margin: 40px 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.questions label {
		font-style: normal;
	}

	.questions button {
		width: 70px;
		font-size: 0.7em;
	}

	.about {
		margin: 40px 0 20px;
		padding: 0;
	}

	.about p {
		text-align: center;
	}

}



@media(min-width: 600px) and (max-width: 900px){

	
	/* ------------------------- Header ----------------------------- */

	.page-header {
		font-size: 1.8vw;
	}

	.site-nav-menu {
		font-size: 1.2em;
	}

	/* ------------------------- Footer ----------------------------- */


	.page-footer {
		flex-direction: column-reverse;
		justify-content: center;
		height: 70vh;
	}

	.questions {
		margin: 0 0 20px;
		padding: 5px 0;
	}

	form {
		margin: 40px 0 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.questions label {
		font-style: normal;
	}

	.questions button {
		width: 70px;
		font-size: 0.7em;
	}

	.about {
		margin: 40px 0 20px;
		padding: 0;
	}

	.about p {
		text-align: center;
	}
	
}